
 {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyPage</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
     {% comment %} {% block extra_head %}{% endblock %} {% endcomment %}
     {% block scroll_style %} {% endblock %}
      {% block list_courses_style %} {% endblock %}
</head>

<body>
    
    <div class="topnav">
  <a  href="#home" >Home</a>          
  <a href="#about">About</a>
  <a href="#contact">Contact</a>
  <input type="text" placeholder="Search...">
    </div>
    
    {% comment %} {% block content %} {% endblock %} {% endcomment %}
    {% block scroll %}{% endblock %}
   {% block list_courses %} {% endblock %}
  {% comment %} {% block script %} {% endblock %} {% endcomment %}
</body>

</html>