

{% block list_courses_style %}
 <link rel="stylesheet" type="text/css" href="{% static 'css/list_courses.css' %}">
  {% endblock %}


{% block list_courses %}

<div class="container">
	<div class="box">
		<div class="content">
			<h2>01</h2>
			<h3>Top One</h3>
			<p>
           
            
            </p>
			<a href="https://www.azlyrics.com/lyrics/eminem/youreneverover.html">Read More</a>
		</div>
	</div>
	<div class="box">
		<div class="content">
			<h2>02</h2>
			<h3>Top Two</h3>
			<p>
                    "25 To Life"<br>
                    
                    Too late for the other side
                    Caught in a chase
                    25 to life
                    Too late for the other side
                    Caught in a chase
                    25 to life
                    ([Eminem:] Yeah)
                    Too late</p>
			<a href="https://www.azlyrics.com/lyrics/eminem/25tolife.html">Read More</a>
		</div>
	</div>
	<div class="box">
		<div class="content">
			<h2>03</h2>
			<h3>Top Three</h3>
			<p>"Love The Way You Lie"
                    (feat. Rihanna)<br>
                    
                    [Rihanna:]
                    Just gonna stand there and watch me burn
                    Well, that's alright because I like the way it hurts
                    Just gonna stand there and hear me cry
                    Well, that's alright because I love the way you lie
                    I love the way you lie</p>
			<a href="https://www.azlyrics.com/lyrics/eminem/lovethewayyoulie.html">Read More</a>
		</div>
	</div>
	<div class="box">
		<div class="content">
			<h2>04</h2>
			<h3>Top Four</h3>
			<p>"Space Bound"<br>

                    We touch I feel a rush
                    We clutch it isn't much
                    But it's enough to make me wonder what's in store for us
                    It's lust, it's torturous
                    You must be a sorceress 'cause you just
                    Did the impossible</p>
			<a href="https://www.azlyrics.com/lyrics/eminem/spacebound.html">Read More</a>
		</div>
    </div>
</div>

{% endblock  %}


{% comment %} {% block content %}
<div class="maindiv">
    <h1>Hello {{name}}</h1>
</div>
{% endblock %} {% endcomment %}