.container {
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-template-rows: auto;
    grid-gap: 10px 50px;
}

.container .box {
    position: relative;
    height: 300px;
    background: #060c21;
    display: flex;
    border: 1px solid #000;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.container .box:before {
    content: "";
    position: absolute;
    left: -2px;
    right: -2px;
    top: -2px;
    bottom: -2px;
    background: black;
    transform: skew(2deg, 2deg);
    z-index: -1;
}

.container .box:nth-child(1):before {
    background: linear-gradient(315deg, #ff0057, #e64a19);
}

.container .box:nth-child(2):before {
    background: linear-gradient(315deg, #89ff00, #00bcd4);
}

.container .box:nth-child(3):before {
    background: linear-gradient(315deg, #e91e63, #5d02ff);
}

.container .box:nth-child(4):before {
    background: linear-gradient(315deg, #ff0000, #ffc107)
}

.container .box:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.content {
    position: relative;
    padding: 20px;
    transform: translateY(40px);
}

.box .content h2 {
    position: absolute;
    font-size: 10em;
    top: -90px;
    right: 20px;
    padding: 0;
    margin: 0;
    color: rgba(255, 255, 255, 0.05);
    transition: 0.5s;
}

.box:hover .content h2 {
    top: -120px;
}

.box .content h3 {
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    font-size: -24px;
    font-weight: 500;
}

.box .content p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 16px;
}

.container .box:nth-child(1) p:hover {
    background: repeating-linear-gradient(to right, #ff0057, #e64a19);
    padding: 10px 10px 0 20px;
}

.container .box:nth-child(2) p:hover {
    background: repeating-linear-gradient(to right, #89ff00, #00bcd4);
    padding: 10px 10px 0 20px;
}

.container .box:nth-child(3) p:hover {
    background: repeating-linear-gradient(to right, #e91e63, #5d02ff);
    padding: 10px 10px 0 20px;
}

.container .box:nth-child(4) p:hover {
    background: repeating-linear-gradient(to right, red, yellow);
    padding: 10px 10px 0 20px;
}

.box .content a {
    position: relative;
    margin: 20px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #fff;
    display: inline-block;
    transition: 0.5s;
    color: white;
    transform: translateY(-38px);
    opacity: 0;
    visibility: hidden;
}

.box:hover .content a {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

.box:nth-child(1) a:hover {
    background: repeating-linear-gradient(to right, #ff0057, #e64a19);
}

.box:nth-child(2) a:hover {
    background: repeating-linear-gradient(to right, #89ff00, #00bcd4);
}

.box:nth-child(3) a:hover {
    background: repeating-linear-gradient(to right, #e91e63, #5d02ff);
}

.box:nth-child(4) a:hover {
    background: repeating-linear-gradient(to right, red, yellow);
}